.container-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.container-experience>div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.container-experience>div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.container-experience>div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience-details {
  display: flex;
  gap: 1rem;
}

.experience-details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .container-experience {
    grid-template-columns: 1fr;
  }

  .container-experience>div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience-content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .container-experience {
    gap: 1rem;
  }

  .container-experience>div {
    width: 100%;
    padding: 2rem 1rem;
  }
}